<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CapStone Project</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Resi
  * Template URL: https://bootstrapmade.com/resi-free-bootstrap-html-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    .col-gap {
    margin-bottom: 20px; /* 첫 번째 간격 */
    margin-right: 40px;
}

.col-gap-large {
    margin-bottom: 40px; /* 두 번째 간격 (더 큰 간격) */
}

/* 모바일에서는 여백을 줄일 수 있습니다. 필요에 따라 조정하세요 */
@media (max-width: 768px) {
    .col-gap, .col-gap-large {
        margin-bottom: 10px;
    }
}

  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/Resi/index">CapStone Project</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">홈</a></li>
          <li><a class="nav-link scrollto" href="#about">소개</a></li>
          <li><a class="nav-link scrollto" href="#services">서비스</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">게시판</a></li>
          <li><a class="nav-link scrollto" href="#team">운영진</a></li>
          <li class="dropdown"><a href="#"><span>메뉴</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/board/paging">페이징</a></li>
              <li class="dropdown"><a href="#"><span>AI 메뉴</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/chatgpt/chatbot_main">메인 AI</a></li>
                  <li><a href="/chatgpt/chatbot_psychology">심리 AI</a></li>
                  <li><a href="/chatgpt/chatbot_story">스토리 AI</a></li>
                  <li><a href="/chatgpt/chatbot_mbti">MBTI AI</a></li>
                  <li><a href="/chatgpt/chatbot_image">이미지 생성 AI</a></li>
                  <li><a href="/chatgpt/chatbot_image_transformation">이미지 변형 AI</a></li>
                  <li><a href="/chatgpt/chatbot_image_text">이미지 설명 AI</a></li>
                  <li><a href="/chatgpt/chatbot_image_army">군대 관상 AI</a></li>
                  <li><a href="/chatgpt/chatbot_image_mbti">이미지 MBTI AI</a></li>
                  <li><a href="/chatgpt/chatbot_image_translation">사진 번역 AI</a></li>
                  <li><a href="/chatgpt/chatbot_image_mbti">이미지 MBTI AI</a></li>
                  <li><a href="/chatgpt/chatbot_speechtotext">음성 텍스트 변경 AI</a></li>
                </ul>
              </li>
              <li><a href="/board/save">게시판 작성</a></li>
              <li><a href="/board/list">글 목록</a></li>
              <li><a href="/member/logout">로그아웃</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">연락처</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
          <li>
            <form method="GET" th:action="@{/board/boardList}" th:value="${param.searchText}">
              <div class="col">
                <div class="input-group" style="padding: 20px;">
                  <input type="text" class="form-control" id="searchText" name="searchText" placeholder="게시판 검색">
                  <button type="submit" class="btn btn-primary">검색</button>
                </div>
              </div>
            </form>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Chat gpt와 함께 즐거운 생활 되세요!</h1>
          <ul>
            <li><i class="ri-check-line"></i> 여러가지 Ai 문답 기능</li>
            <li><i class="ri-check-line"></i> Ai가 만들어주는 커스텀 사진</li>
            <li><i class="ri-check-line"></i> 여러 종류의 게시판으로 서로 자신이 만든 사진을 자랑해보세요!</li>
          </ul>
          <div class="mt-3">
            <a href="#about" class="btn-get-started scrollto">시작하기</a>
            <a href="" class="btn-get-quote">질문하기</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="/assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>어떤걸 즐길 수 있을까요?</h2>
            <h3>AI를 이용한 질문, 자신만의 스토리, 원하는 텍스트를 입력하고 자신만의 사진을 AI가 당신에게 그려줄 수 있어요!</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
                저희 사이트는 당신에게 AI의 무궁무진한 가능성을 보여줄 수 있습니다. 당신이 평소에 궁금했던 점이나, 혹은 어려운 문제에 쳐했을 때. CHAT AI가 당신을 도와 줄 수 있습니다.
                혹은 자신이 원하는 그림이나 이미 가지고 있는 그림을 변형 시킬 수 있고, 사진속의 의미가 뭔지 AI가 알려줄 수 있습니다.
                텍스트를 음성으로 바꾸거나, 정리를 위해 음성파일을 텍스트로 바꾸는 것 또한 가능합니다.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> 여러 종류의 텍스트 문답 기능. 여러분이 원하는 질문을 마음껏 해보세요!</li>
              <li><i class="ri-check-double-line"></i> AI가 직접 제공하는 여러 테마의 사진이 기다리고 있습니다!</li>
              <li><i class="ri-check-double-line"></i> 평소 음성파일을 정리할 때 시간이 오래 걸리시나요? AI가 단숨에 정리해줍니다!</li>
            </ul>
            <p class="fst-italic">
              AI기능은 일부 조금 진행 속도가 지연될 수 있습니다. 조금만 인내심을 가지고 기다려주세요.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>AI 질문</h4>
              <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>AI 이미지</h4>
              <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4>AI 음성 변형</h4>
              <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>전체 게시판</h2>
          <p>이곳에서 여러분들의 이야기를 풀어보세요!</p>
        </div>

        <div class="row">
          <div class="content col-xl-5 d-flex flex-column justify-content-center">
            <img src="/assets/img/services.png" class="img-fluid" alt="">
          </div>
          <div class="col-xl-7">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box iconbox-blue" style="width: 750px;">
                    <div class="icon">
                      <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                      </svg>
                      <i class="bx bxl-dribbble"></i>
                    </div>
                    <h4><a href="">전체 게시판</a></h4>
                    <p>모든 게시판을 둘러보세요!</p>
                  </div>
                </div>

                <div class="col-lg-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon-box iconbox-orange" style="width: 750px;">
                    <div class="icon">
                      <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                      </svg>
                      <i class="bx bx-file"></i>
                    </div>
                    <h4><a href="">질문 게시판</a></h4>
                    <p>궁금한 점이 있다면 누구에게든지 물어보세요!</p>
                  </div>
                </div>

                <div class="col-lg-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon-box iconbox-pink" style="width: 750px;">
                    <div class="icon">
                      <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                      </svg>
                      <i class="bx bx-tachometer"></i>
                    </div>
                    <h4><a href="">자랑 게시판</a></h4>
                    <p>AI를 이용한 결과물을 자랑하세요!</p>
                  </div>
                </div>

                <div class="col-lg-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box iconbox-teal" style="width: 750px;">
                    <div class="icon">
                      <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                      </svg>
                      <i class="bx bx-layer"></i>
                    </div>
                    <h4><a href="">예시 게시판</a></h4>
                    <p>예시 게시판</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="/chatgpt/chatbot_main">기본 AI 문답</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="/chatgpt/chatbot_story">전생 스토리</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="/chatgpt/chatbot_psychology">심리 상담</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="/chatgpt/chatbot_image">AI 이미지 생성</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3><a href="/chatgpt/chatbot_image_transformation">AI 이미지 변형</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3><a href="/chatgpt/chatbot_image_text">AI 이미지 설명</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3><a href="/chatgpt/chatbot_texttospeech">AI 텍스트 -> 음성</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-anchor-line" style="color: #b2904f;"></i>
              <h3><a href="/chatgpt/chatbot_speechtotext">AI 음성 -> 텍스트</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-disc-line" style="color: #b20969;"></i>
              <h3><a href="/chatgpt/chatbot_mbti">MBTI AI</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-base-station-line" style="color: #ff5828;"></i>
              <h3><a href="/chatgpt/chatbot_image_mbti">이미지 MBTI AI</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
              <h3><a href="/chatgpt/chatbot_image_army">군대관상 AI</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">전체</li>
              <li data-filter=".filter-app">자유</li>
              <li data-filter=".filter-card">자랑</li>
              <li data-filter=".filter-web">질문</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" id="latestPosts">
          <!-- 최신 게시물이 여기에 표시됩니다. -->
          <div th:each="post : ${latestPosts}">
            <div class="col-lg-4 col-md-6 portfolio-item">
              <div class="portfolio-wrap">
                <img th:if="${post.fileAttached == 1}" th:src="@{|/upload/${post.storedFileName}|}" class="img-fluid" alt="Board Image">
                <div class="portfolio-info">
                  <h4 th:text="${post.boardTitle}">Board Title</h4>
                  <p>Board</p>
                  <div class="portfolio-links">
                    <a th:if="${post.fileAttached == 1}" th:href="@{|/board/${post.id}|}" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="row portfolio-container">
            <div th:if="${#lists.size(boardList) > 0}">
              <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                  <img th:if="${boardList[0].fileAttached == 1}" th:src="@{|/upload/${boardList[0].storedFileName}|}" class="img-fluid" alt="Board Image">
                  <div class="portfolio-info">
                    <h4 th:text="${boardList[0].boardTitle}">Board Title</h4>
                    <p>Board</p>
                    <div class="portfolio-links">
                      <a th:if="${boardList[0].fileAttached == 1}" href="@{|/board/${boardList[0].id}|}" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div th:if="${#lists.size(boardList) > 0}">
            <div class="col-lg-4 col-md-6 portfolio-item">
              <div class="portfolio-wrap">
                <img th:if="${boardList[8].fileAttached == 1}" th:src="@{|/upload/${boardList[8].storedFileName}|}" class="img-fluid" alt="Board Image">
                <div class="portfolio-info">
                  <h4 th:text="${boardList[8].boardTitle}">Board Title</h4>
                  <p>Board</p>
                  <div class="portfolio-links">
                    <a th:if="${boardList[8].fileAttached == 1}" href="@{|/board/${boardList[8].id}|}" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>운영진</h2>
          <p>운영진들</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>이동기</h4>
                <span>팀장</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>김동영</h4>
                <span>팀원</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>김상현</h4>
                <span>팀원</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>이민규</h4>
                <span>팀원</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

<!--    &lt;!&ndash; ======= Pricing Section ======= &ndash;&gt;-->
<!--    <section id="pricing" class="pricing">-->
<!--      <div class="container">-->

<!--        <div class="section-title">-->
<!--          <h2>Pricing</h2>-->
<!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
<!--        </div>-->

<!--        <div class="row no-gutters">-->

<!--          <div class="col-lg-4 box">-->
<!--            <h3>Free</h3>-->
<!--            <h4>$0<span>per month</span></h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>-->
<!--              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>-->
<!--              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>-->
<!--              <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>-->
<!--              <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>-->
<!--            </ul>-->
<!--            <a href="#" class="btn-buy">Get Started</a>-->
<!--          </div>-->

<!--          <div class="col-lg-4 box featured">-->
<!--            <h3>Business</h3>-->
<!--            <h4>$29<span>per month</span></h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>-->
<!--              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>-->
<!--              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>-->
<!--              <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>-->
<!--              <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>-->
<!--            </ul>-->
<!--            <a href="#" class="btn-buy">Get Started</a>-->
<!--          </div>-->

<!--          <div class="col-lg-4 box">-->
<!--            <h3>Developer</h3>-->
<!--            <h4>$49<span>per month</span></h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>-->
<!--              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>-->
<!--              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>-->
<!--              <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>-->
<!--              <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>-->
<!--            </ul>-->
<!--            <a href="#" class="btn-buy">Get Started</a>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Pricing Section &ndash;&gt;-->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          <h2>자주 묻는 질문</h2>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">AI를 사용하는데 요금은 없나요?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                없습니다.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">기능들은 어떻게 사용하나요?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                위의 메뉴 버튼이나 중간에 전체적인 기능들을 나열해놓은 화면이 있습니다! 해당 화면에서 클릭해서 기능칸으로 이동해보세요!
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">제가 원하는 기능이 없습니다.<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                어떤것을 즐기고 싶으신지 밑의 운영자 연락처로 보내주시면 추후 업데이트로 보답하겠습니다!
              </p>
            </div>
          </li>

<!--          <li>-->
<!--            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>-->
<!--            <div id="faq4" class="collapse" data-bs-parent=".faq-list">-->
<!--              <p>-->
<!--                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.-->
<!--              </p>-->
<!--            </div>-->
<!--          </li>-->

<!--          <li>-->
<!--            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>-->
<!--            <div id="faq5" class="collapse" data-bs-parent=".faq-list">-->
<!--              <p>-->
<!--                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in-->
<!--              </p>-->
<!--            </div>-->
<!--          </li>-->

<!--          <li>-->
<!--            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>-->
<!--            <div id="faq6" class="collapse" data-bs-parent=".faq-list">-->
<!--              <p>-->
<!--                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.-->
<!--              </p>-->
<!--            </div>-->
<!--          </li>-->

        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>연락처</h2>
          <p>운영자들에게 따로 연락이 필요하신 분들은 아래의 연락처로 보내주시기 바랍니다!</p>
        </div>



              <div class="col-md-12">
                <div class="info-box" style="width: 1300px;">
                  <i class="bx bx-map"></i>
                  <h3>주소</h3>
                  <p>대구가톨릭대학교 D2</p>
                </div>
              </div>
            <div>
            <div class="row_update" style="margin-top: 20px">

                <div class="info-box" style="width: 600px; float: left; margin-bottom: 40px">
                  <i class="bx bx-envelope"></i>
                  <h3>Email</h3>
                  <p>이동기(dgh4265@naver.com)<br>김동영(bpea2641@naver.com)<br>김상현(z1345@cu.ac.kr)<br>이민규(lmg3567@naver.com)</p>
                </div>

                <div class="info-box" style="width: 600px; float: right;">
                  <i class="bx bx-phone-call"></i>
                  <h3>전화번호</h3>
                  <p>이동기(010-4556-4265)<br>김동영(010-7197-1782)<br>김상현(010-2024-1058)<br>이민규(010-2920-3567)</p>
                </div>
            </div>

            </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

<!--  &lt;!&ndash; ======= Footer ======= &ndash;&gt;-->
<!--  <footer id="footer">-->

<!--    <div class="footer-top">-->
<!--      <div class="container">-->
<!--        <div class="row">-->

<!--          <div class="col-lg-3 col-md-6 footer-contact">-->
<!--            <h3>Resi.</h3>-->
<!--            <p>-->
<!--              A108 Adam Street <br>-->
<!--              New York, NY 535022<br>-->
<!--              United States <br><br>-->
<!--              <strong>Phone:</strong> +1 5589 55488 55<br>-->
<!--              <strong>Email:</strong> info@example.com<br>-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-6 footer-links">-->
<!--            <h4>Useful Links</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-links">-->
<!--            <h4>Our Services</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 footer-newsletter">-->
<!--            <h4>Join Our Newsletter</h4>-->
<!--            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
<!--            <form action="" method="post">-->
<!--              <input type="email" name="email"><input type="submit" value="Subscribe">-->
<!--            </form>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="container d-md-flex py-4">-->

<!--      <div class="me-md-auto text-center text-md-start">-->
<!--        <div class="copyright">-->
<!--          &copy; Copyright <strong><span>Resi</span></strong>. All Rights Reserved-->
<!--        </div>-->
<!--        <div class="credits">-->
<!--          &lt;!&ndash; All the links in the footer should remain intact. &ndash;&gt;-->
<!--          &lt;!&ndash; You can delete the links only if you purchased the pro version. &ndash;&gt;-->
<!--          &lt;!&ndash; Licensing information: https://bootstrapmade.com/license/ &ndash;&gt;-->
<!--          &lt;!&ndash; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/resi-free-bootstrap-html-template/ &ndash;&gt;-->
<!--          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="social-links text-center text-md-right pt-3 pt-md-0">-->
<!--        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
<!--        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
<!--        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
<!--        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
<!--        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </footer>&lt;!&ndash; End Footer &ndash;&gt;-->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
<script>
  // 최신 게시물을 가져오는 함수
    function fetchLatestPosts() {
      $.ajax({
        url: "/latest-posts", // 최신 게시물을 가져오는 엔드포인트
        type: "GET",
        success: function(response) {
          // 최신 게시물을 가져와서 #latestPosts 요소에 추가합니다.
          $('#latestPosts').html(response);
        },
        error: function(xhr, status, error) {
          console.error("Error fetching latest posts:", error);
        }
      });
    }

// 페이지 로드 후 최신 게시물을 가져옵니다.
$(document).ready(function() {
  fetchLatestPosts();
});


    const saveReq = () => {
        location.href = "/board/save";
    }
    const listReq = () => {
        location.href = "/board/list";
    }
    const pagingReq = () => {
        location.href = "/board/paging";
    }
    const logoutReq = () => {
        location.href = "/member/logout";
    }
    const main_botReq = () => {
        location.href = "/chatgpt/chatbot_main";
    }
    const psychology_botReq = () => {
        location.href = "/chatgpt/chatbot_psychology";
    }
    const story_botReq = () => {
        location.href = "/chatgpt/chatbot_story";
    }
    const mbti_botReq = () => {
        location.href = "/chatgpt/chatbot_mbti";
    }
    const image_botReq = () => {
        location.href = "/chatgpt/chatbot_image";
    }
    const image_transformation_botReq = () => {
        location.href = "/chatgpt/chatbot_image_transformation";
    }
    const image_text_botReq = () => {
        location.href = "/chatgpt/chatbot_image_text";
    }
    const image_edit_botReq = () => {
        location.href = "/chatgpt/chatbot_image_edit";
    }
    const image_mbti_botReq = () => {
        location.href = "/chatgpt/chatbot_image_mbti";
    }
    const text_to_speech_botReq = () => {
        location.href = "/chatgpt/chatbot_texttospeech";
    }
    const speech_to_text_botReq = () => {
        location.href = "/chatgpt/chatbot_speechtotext";
    }
</script>
</body>

</html>